@charset "utf-8";

/* common
---------------------------------------------*/
* {margin:0;padding:0;}

a:link,a:visited {
	color: #ffffff;
	text-decoration:underline;
}
a:hover,a:active {
	color: #d90909;
	text-decoration:underline;
}

.impact   {font-size:20pt; font-weight:bold;}
.impact2  {color:red;}
.impact3  {background:yellow; color:#000;}
#impact4  {underline;}
.impact5  {background:#173B50; padding:2px 5px; color:#fff;}
.impact6  {background:#f4f4f4; padding:3px; line-height:1.1;}
.impact7  {background: #B60000; padding:2px 5px; color:#fff;}
.style2   {color: #FF0000}
.style3   {color: #333333}
.style4   {color: #000000}


img{ border: none;}

/* ボタンのマウスオーバーで明るくする */
.btn:hover {
  filter: brightness(120%);
}


/* animation
---------------------------------------------*/
.feedInUp {
	opacity: 0;
	transform: translate(0,30px); 
	-webkit-transform: translate(0,30px); 
	transition: 1.5s;
}
.feedInUp_On {
	opacity: 1.0;
	transform: translate(0,0); 
	-webkit-transform: translate(0,0);
}

/* layout
---------------------------------------------*/


/*TopIntro-Start*/
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	min-width: 1002px;
	
  background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: top center;
	
-webkit-text-size-adjust:none;
	
  text-align:center;
  font-size:18px;
  font-family: 'meiryo', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
    color: #383d5c;
}

#head1 { background: url("../images/header1.png") no-repeat top center; height:    1141px; } 
#head2 { background: url("../images/header2.png") no-repeat top center; height:    312px; } 
#form { background: url("../images/form.png") no-repeat top center; height:    236px; } 
#head3 { background: url("../images/header3.png") no-repeat top center; height:    368px; } 
#head4 { background: url("../images/header4.png") no-repeat top center; height:    804px; } 
#head5 { background: url("../images/header5.png") no-repeat top center; height:    1497px; } 
#head6 { background: url("../images/header6.png") no-repeat top center; height:    697px; } 
#head7 { background: url("../images/header7.png") no-repeat top center; height:    851px; } 
#head8 { background: url("../images/header8.png") no-repeat top center; height:    1101px; } 
#head9 { background: url("../images/header9.png") no-repeat top center; height:    495px; } 
#flow1 { background: url("../images/flow1.png") no-repeat top center; height:    321px; } 
#flow2 { background: url("../images/flow2.png") no-repeat top center; height:   1133px; } 
#flow3 { background: url("../images/flow3.png") no-repeat top center; height:   1021px; } 
#flow4 { background: url("../images/flow4.png") no-repeat top center; height:   759px; } 
#flow5 { background: url("../images/flow5.png") no-repeat top center; height:   1266px; } 
#flow6 { background: url("../images/flow6.png") no-repeat top center; height:   1350px; } 
#voice1 { background: url("../images/voice1.png") no-repeat top center; height:   1091px; } 
#voice2 { background: url("../images/voice2.png") no-repeat top center; height:   1200px; } 
#voice3 { background: url("../images/voice3.png") no-repeat top center; height:   733px; } 
#voice4 { background: url("../images/voice4.png") no-repeat top center; height:   1256px; } 
#voice5 { background: url("../images/voice5.png") no-repeat top center; height:   687px; } 
#voice6 { background: url("../images/voice6.png") no-repeat top center; height:   1341px; } 
#voice7 { background: url("../images/voice7.png") no-repeat top center; height:   375px; } 
#form2 { background: url("../images/form2.png") no-repeat top center; height:   289px; } 
#qa1 { background: url("../images/qa1.png") no-repeat top center; height: 1287px; } 
#qa2 { background: url("../images/qa2.png") no-repeat top center; height:   966x; } 
#qa3 { background: url("../images/qa3.png") no-repeat top center; height:   767px; } 
#qa3 { background: url("../images/qa3.png") no-repeat top center; height:   767px; } 
#qa4 { background: url("../images/qa4.png") no-repeat top center; height:   952px; } 
#qa5 { background: url("../images/qa5.png") no-repeat top center; height:   812px; } 
#qa0 { background: url("../images/qa0.png") no-repeat top center; height:   55px; } 
#wrap {

	background-image: url("../images/wrap.png");
	background-repeat: repeat-y;
	background-position: center top;
	background-position:50% 0%;
}

#wrapform {

	background-image: url("../images/wrapform.png");
	background-repeat: repeat-y;
	background-position: center top;
	background-position:50% 0%;
}


#container {

	text-align:left;
	width:1000px;
	margin:0 auto;
	
	
}

#text {

	text-align:left;
	width:850px;
	margin:0 auto;
	
	
}

#textwhite {

	text-align:left;
	width:850px;
	margin:0 auto;
	color: #fff;
	
}

#texts2 {

	text-align:left;
	width:750px;
	position: relative;
	margin-top:170px;
	margin-left:400px;
	
	
}

#texts3 {

	text-align:left;
	width:850px;
	margin-top:250px;
	margin-left:170px;
	
	
}


.container {

	text-align:left;
	width:1200px;
	margin:0 auto;
	
	
}

.white {
  color: #fff;
}

.text-center {
　text-align: center;
}

#footer {  
	background-color: #86374c;
}
--------------------------- */

ol,
ul{
	list-style-position: inside;
	padding-left:10px;
}
ol li,
ul li{
	text-align:left;
}

